body{
	a{
		text-decoration:none;
		color:#626363;
	}
	sup{
		line-height: 0;
		position: relative;
		vertical-align: baseline;
		font-size: 65%;
		margin-left:-3px;
		top: -0.5em;
		*margin-left:0;

	}
	i{
		font-style:italic;
	}
	b{
		font-weight: bolder;
	}
	strong{
		font-weight: bolder;
	}
}

