<% if(!player) { %>
<div id="altContent_video">
	<h1>Dr. Sieper</h1>
	<p>Alternative content</p>
	<p><a href="http://www.adobe.com/go/getflashplayer"><img
		src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
		alt="Get Adobe Flash player" /></a></p>
	</div>
	<% }else{ %>
	<div id="jp_container_1" class="jp-video">
		<div class="jp-type-single">
			<div class="player-bg">
				<div id="player" class="jp-jplayer"></div>
			</div>
		</div>
	</div>
	<div class="controls">
		<div class="progress">
			<div class="seek-bar">
				<div class="play-indicator">
				</div>
			</div>
		</div>
		<div class="play"></div>
		<div class="stop"></div>
		<div class="rewind"></div>
		<div class="forward"></div>
		<div class="pause"></div>
		<span class="volume hidden">
			<div class="mute"></div>
			<div class="volume-bar jp-volume-bar">
				<div class="indicator p-volume-bar-value"></div>
			</div>
		</span>
	</div>
	<% } %>
